params {
    input_reads_folder = ''
    ncbi_id            = ''
    reference          = ''
    outdir             = 'results'
    conda_env          = ''  // path to conda env
    save_mpileup       = false
}

profiles {
    local {
        process {
            conda  = params.conda_env
            cpus   = 4
            memory = '8 GB'
        }
    }
    cluster {
        process {
            conda    = "${projectDir}/conda/environment.yml"
            executor = 'slurm'
            cpus     = 16
            memory   = '32 GB'
            time     = '4h'
        }
    }
    container {
        docker.enabled = true
        process {
            cpus   = 4
            memory = '8 GB'

            withName: 'download_reads|run_qc|trimm' {
                container = 'biopipelines-qc:latest'
            }
            withName: 'assemble|index_reference|samtools_faidx|map_reads|coverage_plot' {
                container = 'biopipelines-align:latest'
            }
            withName: 'BCFTOOLS_MPILEUP|BCFTOOLS_CALL' {
                container = 'community.wave.seqera.io/library/bcftools_htslib:1.23.1--9f08ec665533d64a'
            }
        }
    }
}
